<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body ng-app='app'>
    <div class = 'container' ng-controller='mainControl'>

      <div class='title'>
        <h1>Flickr Public Feed</h1>
      </div>

      <h5 class='search'>Search : <input placeholder='tag name' ng-model='search'></input></h5>

      <div class='container'>
        <div class='feed' ng-show='!modalShow'>
          <div ng-repeat='item in data.items | filter: {tags: search}' class='post'>
            <div class='img'>
              <a ng-href='{{item.link}}'>
                <img ng-src='{{item.media.m}}'></img>
              </a>
            </div>

            <div class='info'>
              <h1 ng-click='openModal(item)'>{{item.title}}</h1>
              <div class='sub'>
                <a ng-href='https://www.flickr.com/photos/{{item.author_id}}'>Post Author</a>
                <h5 class='published'>Published {{calcDate(item.published)}}</h5>
                <a ng-href='{{item.link}}'>View on Flickr</a>
              </div>
            </div>
          </div>
        </div>

        <div class='modal' ng-show='modalShow'>
          <div class='info'>
            <h1>{{modal.title}}</h1>
            <a class='author' ng-href='https://www.flickr.com/photos/{{modal.author_id}}'>Post Author</a>
            <h5 class='published'>Published {{calcDate(modal.published)}}</h5>
          </div>

          <div class='closeButton'>
            <button ng-click='closeModal()'>CLOSE</button>
          </div>

          <div class='contentContainer'>
            <div class='img'>
              <a ng-href='{{modal.link}}' class='modalImgLink'>
                <img ng-src='{{modal.media.m}}' class='modalImg'></img>
              </a>
            </div>

            <div class='content'>
              <div ng-bind-html='getDescription(modal)'></div>
              <br>
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>

              <h6 class='tags'>Tags: 
                <span class='tag' ng-repeat='tag in modal.tags.split(" ")' ng-bind='tag'>  </span>
              </h6>
            </div>
          </div>
        </div>
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.min.js"></script>
    <script src="ng-infinite-scroll.js"></script>
    <script src='app.js'></script>
  </body>
</html>
